*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: url('/assets/images/background-desktop.png');
    /* background: url('/assets/images/pattern-squiggly-line-bottom-desktop.svg'); */
}
.bg{
    /* position: absolute; */
    /* height: 100vh;
    width: 100vw;
    z-index: -1; */
}

.bg2{
    /* align-items: end; */
    /* display: flex; */
    /* justify-content: end; */
    position: absolute;
    right: 1px;
    top: -70px;
    height: 50vh;
    width: 20vw;
    /* z-index: 0; */
}

.bg3{
    /* align-items: end; */
    /* display: flex; */
    /* justify-content: end; */
    position: absolute;
    left: 1px;
    bottom: -10px;
    height: 50vh;
    width: 34vw;
    /* z-index: 0; */
}

header {
    /* border: 1px solid white; */
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
    gap: 10px;
}

body header img{
    /* align-items: center; */
    display: flex;
    /* flex-direction: row; */
    /* margin: 0 auto; */
    width: 23px;
    /* z-index: 2; */
}

.after-header{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    color: white;
}

.fill{
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 30%;
    margin: 20px auto 0;
    gap: 10px;
    padding: 10px 0;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dnd {
    border: 1px dashed orange;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dnd.glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dnd img{
    background-color: gray;
    border-radius: 10px;
    padding: 7px;
}
.upload {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 5px;
}

.fil{
    /* align-items: center; */
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0 auto;
    padding: 40px;
    width: 30%;

}

.fil label{
    color: gray;
}

.input{
    border: 1px solid white;
}