*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
}
.bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.bg2{
    /* align-items: end; */
    /* display: flex; */
    /* justify-content: end; */
    position: absolute;
    right: 1px;
    top: -70px;
    height: 50vh;
    width: 20vw;
    /* z-index: 0; */
}

body header{
    /* align-items: center; */
    color: white;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    margin: 0 auto;
    justify-content: space-between;
    width: 10%;
    z-index: 1;
}

body header img{
    /* align-items: center; */
    display: flex;
    /* flex-direction: row; */
    /* margin: 0 auto; */
    width: 23px;
    z-index: 2;
}

.cent{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0 auto;
    /* justify-content: space-between; */
    width: 100%;
    z-index: 3;
}